.form-wrapper {
    height:100%;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.logo {
    width: 8rem;
    height: auto;
}

.banner-heading {
    color: white;
    
}