@use 'variables' as * ;
@use 'animation';

.section-inf {
    //set display to the grid
    display:grid;
    grid-template-rows: auto; 
    //set to absolute so then divs will not be stack like block under block
    //Note that this is the initial state of the transition
    > div {
        grid-area: 1 /1 ;
        opacity : 0;
        transform: translateY(20px);
        transition : opacity 0.3s ease, transform 0.3s ease; 
    }
    > div.grid {
        opacity: 1;
        transform: translateY(0);
    }
    
    .img-wrapper {
        height: 15rem;
        width: auto;
    }
    
}

.section-product {
    // .products .product img {
    //     transition: 0.3s ease-out;
    // }
    // .products .product img:hover {
    //     transform: scale(1.1);
    // }

    .product .product-name, 
    .product .product-price {
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out
    }
    .product:focus .product-name{
        transform : translate(-50%,-100%);
    }
    .product:focus .product-price{
        transform: translate(-50%, 100%);
    }
}

.moving-text-banner {
    .moving-right {
        animation: slideRight 20s linear infinite
    }
    .moving-left {
        animation: slideLeft 20s linear infinite
    }
}

.section-ingredients {
    .section-standard {
        .standard {
            width: 100%;
            border-radius: 1.5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1.5rem;
            gap: 1.5rem;
            background-color: $Pink-Secondary;
            transform: translateY(0);
            transition: transform 0.3s ease-in-out;
        }
        .standard:hover {
            transform: translateY(-1rem);
        }
        .standard img {
            border: 1px solid $Pink-Primary;
            border-radius: 1.5rem;

        }
    }
}
