@use '../utils/variables' as *; 
@use '../animation' as *;

header {
   position: fixed;
   top: 0;
   left: 0;
   transform: translateY(-100%);
   transition: transform 0.3s ease;
   z-index: 1000;
   box-shadow: 0 0 0 rgba(0,0,0,0);
   nav {
      a {
         position: relative;
         color: var(--text-default);

         &:hover {
            color: var(--Pink-Primary);  
         }
      }
      a::after {
         content: "";
         position:absolute;
         bottom: 0;
         left: 0;
         width: 0;
         height: 2px;
         background-color: var(--Pink-Primary);
         transition: width 0.3s ease;
      }

      a:hover::after {
         width: 100%;
      }
   }
}

.hover-zone {
   position: fixed;
   top: 0;
   left: 0;
   background: transparent;
   height: 1.5rem;
   z-index: 999;
   width: 100%;
}

.hover-zone:hover + header,
header:hover {
   transform:translateY(0);
   box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}


