@use '../utils/variables' as *; 
@use '../animation' as *;

header {

   nav {
      a {
         position: relative;
         color: var(--text-default);

         &:hover {
            color: var(--Pink-Primary);  
         }
      }
      a::after {
         content: "";
         position:absolute;
         bottom: 0;
         left: 0;
         width: 0;
         height: 2px;
         background-color: var(--Pink-Primary);
         transition: width 0.3s ease;
      }

      a:hover::after {
         width: 100%;
      }
   }
}


