@use '../utils/variables' as *; 

// For small devices and up
@media (min-width: $breakpoint-sm) {
   header .container {
        max-width: 33.74rem;
   }
   .full-container {
        max-width: 95dvw;
   }
   .huge-container {
        max-width: 40rem;
   }
   .small-container {
        max-width: 33.5rem; 
    }
    .xs-container {
        max-width: 33.5rem; 
    }
    .xxs-container {
        max-width: 30rem; 
    }
    header .navbar {
        box-shadow:  0 4px 8px rgba(red, 0.5);;
  }

}

// For tablets and up
@media (min-width: $breakpoint-md) {
    header .container {
        max-width: 46.25rem;
    }
    .full-container {
        max-width: 95dvw;
    }
    .huge-container {
        max-width: 52rem;
    }
    .small-container {
        max-width: 48rem; 
    }
    .xs-container {
        max-width: 46.25rem;
    }
    .xxs-container {
        max-width: 40rem; 
    }
    .burger-menu {
        display: none !important;
    }

    #topbar {
        .navbar-nav {
            display: flex !important ;
            justify-content: center;
            align-items: center;
            margin-left: auto;
        }
    }    
}

@media (max-width: $breakpoint-md) 
{
    #topbar {
        height: 5rem !important;
    }
}

// For desktops and up
@media (min-width: $breakpoint-lg) {
    header .container {
        max-width: 60rem;
    }
    .full-container {
        max-width: 95dvw;
    }
    .huge-container {
        max-width: 65rem;
    }
    .small-container {
        max-width: 62rem; 
    }
    .xs-container {
        max-width: 60rem;
    }
    .xxs-container
    {
        max-width: 50rem;
    }
}

// For large desktops and up
@media (min-width: $breakpoint-xl) {
    header .container {
        max-width: 71.25rem;
    }
    .full-contaner {
        max-width: 95dvw;
    }
    .huge-container {
        max-width: 75rem;
    }
    .small-container {
        max-width: 73rem; 
    }
    .xs-container {
        max-width: 68rem;
    }
    .xxs-container {
        max-width: 60rem; 
    }
}

// For widescreens and up
@media (min-width: $breakpoint-xxl) {
    .full-container {
        max-width: 95dvw;
    }
    .huge-container {
        max-width: 85rem;
    }
    .small-container {
        max-width: 75rem; 
    }
    .xs-container {
        max-width: 70rem;
    }
    .xxs-container {
        max-width: 65rem; 
    }
}


// Between small and medium (576px - 768px)
@media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
    
}

// Between medium and large (768px - 992px)
@media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
   
}

// Between large and extra-large (992px - 1200px)
@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
  
}
